.degree_symbol:not(:empty)::after {
    content: "°"

}

.owm-legend-item{
    display: none;
}

#map{
	/* width: 600px;
    height: 600px; */
}

#map{
    border: 5px solid #93C8E5;
    width: 1280px;
    height: 250px;
}
    

.h1{
    top: 200px;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
}
.top_bars{
    width: 100%;
    height: 40px;
    background-color: #93C8E5;
    position: relative;
    left: 0%;
}
.search{
    width: 10%;
    height: 20px;
    color: white;
    position: absolute;
    left: 5%;
}
.today{
    width: 10%;
    height: 20px;
    color: white;
    position: absolute;
    left: 40%;
}
.hourly{
    width: 10%;
    height: 20px;
    color: white;
    position: absolute;
    left: 52%;
}
.date{
    width: 16%;
    height: 20px;
    color: white;
    position: absolute;
    left: 51%;
    font-size: 2em;
}
.day{
    width: 12%;
    height: 20px;
    color: white;
    position: absolute;
    left: 69%;
    font-size: 2em;
}
.time{
    width: 15%;
    height: 20px;
    color: white;
    position: absolute;
    left: 78%;
    font-size: 2em;
    text-align: center;
}
.alerts{
    color: ;
    top: 25px;
    width: 100%;
    height: 60px;
    position: relative;
}
.sign{
    left: 90px;
    color: red;
    height: 60px;
    width: 80px;
    position: absolute;
}
.paragraph{
    left: 200px;
    color: red;
    height: 60px;
    width: 77%;
    position: absolute;
}
.current_temperature{
    background-color: white;
    position: relative;
}
.location{
    left: 20%;
    top: 40px;
    color:#073B58 ;
    height: 100px;
    width: 30%;
    position: absolute;
    font-size: 3em;
}


.sepecfic_temperature{
    left: 75%;
    top: 30px;
    height: 120px;
    width: 21%;
    position: absolute;
    color: #00A4FF;
    font-size: 3.5em;
}
.weather_icon{
    left: 45%;
    width: 60%;
    height:425px;
    top: 220px;
    color: orange;
    position: absolute;
    font-size: 8em;
}
.wind_symbol{
    height: 80px;
    width: 22%;
    left: 15%;
    top: 650px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.wind_speed{
    font-size: 1.75em;
    color: darkorange;
    height: 80px;
    width: 22%;
    left: 15%;
    top: 680px;
    position: absolute; 
    text-align: center;
}
.sunrise_symbol{
    height: 80px;
    width: 22%;
    left: 40%;
    top: 650px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.sunrise{
    font-size: 1.75em;
    color: darkorange;
    height: 80px;
    width: 22%;
    left: 40%;
    top: 680px;
    position: absolute;
    text-align: center; 
}
.sunset_symbol{
    height: 80px;
    width: 22%;
    left: 65%;
    top: 650px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.sunset{
    font-size: 1.75em;
    color: darkorange;
    height: 80px;
    width: 22%;
    left: 65%;
    top: 680px;
    position: absolute; 
    text-align: center;
}
.cloud_symbol{
    height: 80px;
    width: 22%;
    left: 15%;
    top: 780px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.cloud_cover1{
    font-size: 1.75em;
    color: #00A4FF;
    height: 80px;
    width: 22%;
    left: 15%;
    top: 815px;
    position: absolute; 
    text-align: center;
}
.current_temp_low_symbol4{
    height: 80px;
    width: 22%;
    left: 40%;
    top: 780px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.degree_symbol4{
    font-size: 1.75em;
    color: #00A4FF;
    height: 80px;
    width: 22%;
    left: 40%;
    top: 815px;
    position: absolute; 
    text-align: center;
}
.current_temp_high_symbol5{
    height: 80px;
    width: 22%;
    left: 65%;
    top: 780px;
    position: absolute;
    color:#073B58; 
    font-size: 1.25em;
    text-align: center;
}
.degree_symbol5{
    font-size: 1.75em;
    color: #00A4FF;
    height: 80px;
    width: 22%;
    left: 65%;
    top: 815px;
    position: absolute; 
    text-align: center;
}



.hourly1{
    color: #1A2238;
    position: relative;
    top: 1075px;
    height: 30px;
    width: 80px;
    left: 80px;
    font-size: 1.25em;
}
.now_time{
    position: absolute;
    left: 0px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.eleven_am_time{
    position: absolute;
    left: 137px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.twelve_pm_time{
    position: absolute;
    left: 274px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.one_pm_time{
    position: absolute;
    left: 311px;
    width: 280px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.two_pm_time{
    position: absolute;
    left: 548px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.three_pm_time{
    position: absolute;
    left: 685px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.four_pm_time{
    position: absolute;
    left: 822px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.five_pm_time{
    position: absolute;
    left: 959px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;

}
.six_pm_time{
    position: absolute;
    left: 1094px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.seven_pm_time{
    position: absolute;
    left: 1235px;
    width: 80px;
    height: 40px;
    top: 35px;
    color: darkorange;
    font-size: 1em;
    text-align: center;
}
.now_icon{
    position: absolute;
    left: 0px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.eleven_am_icon{
    position: absolute;
    left: 137px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.twelve_pm_icon{
    position: absolute;
    left: 274px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.one_pm_icon{
    position: absolute;
    left: 411px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.two_pm_icon{
    position: absolute;
    left: 548px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.three_pm_icon{
    position: absolute;
    left: 685px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.four_pm_icon{
    position: absolute;
    left: 822px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.five_pm_icon{
    position: absolute;
    left: 959px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.six_pm_icon{
    position: absolute;
    left: 1094px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.seven_pm_icon{
    position: absolute;
    left: 1235px;
    width: 80px;
    height: 70px;
    top: 110px;
    color: orange;
}
.now_temperature{
    position: absolute;
    left: 0px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.eleven_am_temperature{
    position: absolute;
    left: 137px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.twelve_pm_temperature{
    position: absolute;
    left: 274px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.one_pm_temperature{
    position: absolute;
    left: 411px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.two_pm_temperature{
    position: absolute;
    left: 548px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.three_pm_temperature{
    position: absolute;
    left: 685px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.four_pm_temperature{
    position: absolute;
    left: 822px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.five_pm_temperature{
    position: absolute;
    left: 959px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.six_pm_temperature{
    position: absolute;
    left: 1094px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.seven_pm_temperature{
    position: absolute;
    left: 1235px;
    width: 80px;
    height: 40px;
    top: 200px;
    color: #00A4FF;
    text-align: center;
}
.map{
    position: relative;
    color: #1A2238;
    top: 1375px;
    height: 30px;
    width: 80px;
    left: 80px;
    font-size: 1.25em;
}
.map1{
    position: absolute;
    top: 40px;
    width: 1280px;
    left: 0px;
    height: 200px;
    background-color: #073B58;
}
.five_day1{
    position: relative;
    color: #1A2238;
    top: 1660px;
    height: 30px;
    width: 80px;
    left: 80px;
    font-size: 1.25em;
}
.friday_symbol{
    position: absolute;
    color: #505050;
    top: 40px;
    height: 25px;
    width: 120px;
    left: 75px;
    font-size: 1em;
    
}
.saturday_symbol{
    position: absolute;
    color: #505050;
    top: 40px;
    height: 25px;
    width: 120px;
    left: 340px;
    font-size: 1em;
}
.sunday_symbol{
    position: absolute;
    color: #505050;
    top: 40px;
    height: 25px;
    width: 120px;
    left: 615px;
    font-size: 1em;
}
.monday_symbol{
    position: absolute;
    color: #505050;
    top: 40px;
    height: 25px;
    width: 120px;
    left: 880px;
    font-size: 1em;
}
.tuesday_symbol{
    position: absolute;
    color: #505050;
    top: 40px;
    height: 25px;
    width: 120px;
    left: 1155px;
    font-size: 1em;
}
.friday{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 0px;
    height: 400px;
    background-color:#002233;
}
.saturday{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 270px;
    height: 400px;
    background-color:#002233;
}
.sunday{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 540px;
    height: 400px;
    background-color:#002233;
}
.monday{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 810px;
    height: 400px;
    background-color:#002233;
}
.tuesday{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 1080px;
    height: 400px;
    background-color:#002233;
}
.friday_icon{
    position: absolute;
    top: 20px;
    width: 75px;
    left: 20px;
    height: 75px;
    color: orange;
}
.saturday_icon{
    position: absolute;
    top: 20px;
    width: 75px;
    left: 20px;
    height: 75px;
    background-color: orange;
}
.sunday_icon{
    position: absolute;
    top: 20px;
    width: 75px;
    left: 20px;
    height: 75px;
    background-color: orange;
}
.monday_icon{
    position: absolute;
    top: 20px;
    width: 75px;
    left: 20px;
    height: 75px;
    background-color: orange;
}
.tuesday_icon{
    position: absolute;
    top: 20px;
    width: 75px;
    left: 20px;
    height: 75px;
    background-color: orange;
}
.friday_temperature{
    position: absolute;
    top: 10px;
    width: 85px;
    left: 110px;
    height: 75px;
    color:white;
    font-size: 0.8em;
}
.saturday_temperature{
    position: absolute;
    top: 10px;
    width: 85px;
    left: 110px;
    height: 75px;
    color:white;
    font-size: 0.8em;
}
.sunday_temperature{
    position: absolute;
    top: 10px;
    width: 85px;
    left: 110px;
    height: 75px;
    color:white;
    font-size: 0.8em;
}
.monday_temperature{
    position: absolute;
    top: 10px;
    width: 85px;
    left: 110px;
    height: 75px;
    color:white;
    font-size: 0.8em;
}
.tuesday_temperature{
    position: absolute;
    top: 10px;
    width: 85px;
    left: 110px;
    height: 75px;
    color:white;
    font-size: 0.8em;
}
.friday_wind{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.saturday_wind{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.sunday_wind{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.monday_wind{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.tuesday_wind{
    position: absolute;
    top: 100px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.friday_huminity{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.saturday_huminity{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.sunday_huminity{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.monday_huminity{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.tuesday_huminity{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.friday_uv_index{
    position: absolute;
    top: 245px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.saturday_uv_index{
    position: absolute;
    top: 245px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.sunday_uv_index{
    position: absolute;
    top: 245px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}   
.monday_uv_index{
    position: absolute;
    top: 245px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.tuesday_uv_index{
    position: absolute;
    top: 245px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.friday_precipitation{
    position: absolute;
    top: 315px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.saturday_precipitation{
    position: absolute;
    top: 315px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.sunday_precipitation{
    position: absolute;
    top: 315px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.monday_precipitation{
    position: absolute;
    top: 315px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}
.tuesday_precipitation{
    position: absolute;
    top: 315px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: orange;
}





.friday_wind1{
    position: absolute;
    top: 120px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.saturday_wind1{
    position: absolute;
    top: 120px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.sunday_wind1{
    position: absolute;
    top: 120px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.monday_wind1{
    position: absolute;
    top: 120px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.tuesday_wind1{
    position: absolute;
    top: 120px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.friday_huminity1{
    position: absolute;
    top: 190px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.saturday_huminity1{
    position: absolute;
    top: 190px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.sunday_huminity1{
    position: absolute;
    top: 190px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.monday_huminity1{
    position: absolute;
    top: 190px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.tuesday_huminity1{
    position: absolute;
    top: 190px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.friday_uv_index1{
    position: absolute;
    top: 265px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.saturday_uv_index1{
    position: absolute;
    top: 265px;
    width: 80%;
    left: 20px;
    height: 50px;
    color:white;
}
.sunday_uv_index1{
    position: absolute;
    top: 265px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}   
.monday_uv_index1{
    position: absolute;
    top: 265px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.tuesday_uv_index1{
    position: absolute;
    top: 265px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.friday_precipitation1{
    position: absolute;
    top: 335px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.saturday_precipitation1{
    position: absolute;
    top: 335px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.sunday_precipitation1{
    position: absolute;
    top: 335px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.monday_precipitation1{
    position: absolute;
    top: 335px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}
.tuesday_precipitation1{
    position: absolute;
    top: 335px;
    width: 80%;
    left: 20px;
    height: 50px;
    color: white;
}



.future_alerts{
    position: relative;
    background-color: #93C8E5;
    top: 2160px;
    height: 60px;
    width: 100%;
    left: 0px;
}
.alerts_sign2{
    left: 90px;
    color: black;
    height: 60px;
    width: 80px;
    position: absolute;
}
.paragraph2{
    left: 200px;
    color: black;
    height: 60px;
    width: 77%;
    position: absolute;
}
.bottom_empty{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 40px;
    top: 2530px;
}
.icon-01d{
    background-image: url("/img/icon-01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-02d{
    background-image: url("/img/icon-02d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-10d{
    background-image: url("/img/icon-10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-04d{
    background-image: url("/img/icon-04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-03d{
    background-image: url("/img/icon-03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-09d{
    background-image: url("/img/icon-09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-11d{
    background-image: url("/img/icon-11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.icon-13d{
    background-image: url("/img/icon-13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
}